body {
    background-color:#ffffff;
}

.disabled-control{
    pointer-events: none;
    color: #ddd;
}

.control {
    color: #555;
}

.navbar-app .btn-navbar, .navbar-app .btn {
	color: #FFFFFF;
}

.navbar-app {
	color: #FFFFFF;
	border-color: #ccc;
	background: #A00505;
}

.app-content {
	background: #FFFFFF;
}