<!DOCTYPE html>
<html lang="en">
<head>
    <title>Angular Material - Starter App</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>

    <!-- Angular Material CSS now available via Google CDN; version 0.9.4 used here -->
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">

    <link rel="stylesheet" href="assets/app.css" />
    <link rel="stylesheet" href="assets/docs.css" />
    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body ng-app="starterApp" layout="column" ng-controller="UserController as ul" ng-cloak>
    
    <md-toolbar layout="row">
        <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <h1>Angular Material - Starter App</h1>
    </md-toolbar>

    <div flex layout="row">

        <!--
        <md-sidenav  ng-click="ul.toggleList()" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-whiteframe-z2" >
          <md-list>
            <md-list-item ng-repeat="it in ul.users">
                <md-button ng-click="ul.selectUser(it)" ng-class="{'selected' : it === ul.selected }">
                  <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>
                  {{it.name}}
                </md-button>
            </md-list-item>
          </md-list>
        </md-sidenav>
        -->

        <md-sidenav ng-click="ul.toggleList()" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="site-sidenav md-sidenav-left hide-print ng-isolate-scope md-whiteframe-z2">

            <header class="nav-header">
                <a ng-href="/" class="docs-logo" href="/">
                    <h1 class="docs-logotype md-heading">Noodle</h1>
                </a>
            </header>

            <ul class="skip-links">
                <li class="md-whiteframe-z2">
                    <a class="md-button md-ink-ripple" ng-transclude="" ng-click="focusMainContent($event)" href="#" aria-label="Skip to content"><span class="ng-scope">Skip to content</span></a>
                </li>
            </ul>

            <!--
            <md-content flex="" role="navigation" class="flex">
                <ul class="docs-menu">
                    <li ng-repeat="page in section.pages" class="ng-scope">
                        <menu-link section="page" class="ng-isolate-scope">
                            <a class="md-button md-ink-ripple" ng-transclude="" ng-class="{'active' : isSelected()}" ng-href="/HEAD" ng-click="focusSection()" href="/HEAD" aria-label="HEAD (master)">
                                <span class="ng-binding ng-scope">
                                    HEAD (master)
                                </span>
                            </a>
                        </menu-link>
                    </li>
                </ul>
            </md-content>
            -->

            <md-list>
                <md-list-item>
                    <md-button ng-click="ul.selectUser(it)" ng-class="{'selected' : it === ul.selected }">
                        Menu
                    </md-button>
                </md-list-item>
                <md-list-item>
                    <md-button ng-click="ul.selectUser(it)" ng-class="{'selected' : it === ul.selected }">
                        Orders
                    </md-button>
                </md-list-item>
                <md-list-item>
                    <md-button ng-click="ul.selectUser(it)" ng-class="{'selected' : it === ul.selected }">
                        Payments
                    </md-button>
                </md-list-item>
                <md-list-item>
                    <md-button ng-click="ul.selectUser(it)" ng-class="{'selected' : it === ul.selected }">
                        Locations
                    </md-button>
                </md-list-item>
                <md-list-item>
                    <md-button ng-click="ul.selectUser(it)" ng-class="{'selected' : it === ul.selected }">
                        Help
                    </md-button>
                </md-list-item>
                <md-list-item>
                    <md-button ng-click="ul.selectUser(it)" ng-class="{'selected' : it === ul.selected }">
                        Sing In
                    </md-button>
                </md-list-item>
            </md-list>
        </md-sidenav>

        <md-content flex id="content">

            <ng-view></ng-view>
            <!---->
            <md-icon md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon>
            <h2>{{ul.selected.name}}</h2>
            <p>{{ul.selected.content}}</p>
            <md-button class="share" md-no-ink ng-click="ul.makeContact(ul.selected)" aria-label="Share with {{ ul.selected.name }}">
                <md-icon md-svg-icon="share"></md-icon>
            </md-button>
        </md-content>
    </div>

    <!-- Angular Material Dependencies -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>

    <!-- Angular Material Javascript now available via Google CDN; version 0.9.4 used here -->
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

    <script src="./src/users/Users.js"></script>
    <script src="./src/users/UserController.js"></script>
    <script src="./src/users/UserService.js"></script>

    <script src="./src/categories/Categories.js"></script>
    <script src="./src/categories/CategoryController.js"></script>
    <script src="./src/categories/CategoryService.js"></script>

    <script src="./lib/odataQuery.js"></script>

    <script type="text/javascript">

        angular
            .module('starterApp', ['ngRoute', 'ngMaterial', 'users', 'categories'])
            .config(function ($routeProvider, $mdThemingProvider, $mdIconProvider) {

                $mdIconProvider
                    .defaultIconSet("./assets/svg/avatars.svg", 128)
                    .icon("menu", "./assets/svg/menu.svg", 24)
                    .icon("share", "./assets/svg/share.svg", 24)
                    .icon("google_plus", "./assets/svg/google_plus.svg", 512)
                    .icon("hangouts", "./assets/svg/hangouts.svg", 512)
                    .icon("twitter", "./assets/svg/twitter.svg", 512)
                    .icon("phone", "./assets/svg/phone.svg", 512);

                $mdThemingProvider.theme('default')
                    .primaryPalette('brown')
                    .accentPalette('red');

                $routeProvider.when('/menu/:id?/', { templateUrl: 'src/categories/view/contactSheet.html', controller: 'CategoryController', reloadOnSearch: false });
                //$routeProvider.when('/orders/', { templateUrl: 'pages/orders/ordersList.html', controller: 'ordersListController', reloadOnSearch: false });
                //$routeProvider.when('/order/:id/', { templateUrl: 'pages/orders/ordersForm.html', controller: 'ordersFormController', reloadOnSearch: false });
                $routeProvider.otherwise('/menu/');

            })
            .constant('backendProperties', {
                productsCollectionUrl: "http://partner-web-api-v1.azurewebsites.net/odata/Products",
                orderLinesCollectionUrl: "http://partner-web-api-v1.azurewebsites.net/odata/OrderLines",
                ordersCollectionUrl: "http://partner-web-api-v1.azurewebsites.net/odata/Orders",
                categoriesCollectionUrl: "http://partner-web-api-v1.azurewebsites.net/odata/Categories",
                rootCategory: "MENU"
            })
            .filter('currency', function () { // может в отдельный файл?
                return function (number, currencyCode) {
                    var currency = {
                        USD: "$",
                        GBP: "£", //"<i class='fa fa-gbp' aria-hidden='true'></i>"
                        AUD: "$",
                        EUR: "€",
                        CAD: "$",
                        MIXED: "~"
                    },
                    thousand, decimal, format;
                    if ($.inArray(currencyCode, ["USD", "AUD", "CAD", "MIXED"]) >= 0) {
                        thousand = ",";
                        decimal = ".";
                        format = "%s%v";
                    } else {
                        thousand = ".";
                        decimal = ",";
                        format = "%s%v";
                    };
                    return accounting.formatMoney(number, currency[currencyCode], 2, thousand, decimal, format);
                };
            });

    </script>
</body>
</html>
