<div class="scrollable-content" ui-scroll-bottom='bottomReached()'>
    <!--
    <div class="list-group">
        <div class="container-fluid">
            <div class="notices-container">
                <div ng-repeat="orderLine in order.Lines" drag-to-dismiss="deleteNotice(notice)" class="section section-break">
                    <p>
                        <span class="pull-left">
                            <strong>{{orderLine.Item.Name}}</strong>
                        </span>
                        <span class="label label-default pull-right">{{orderLine.Qty}} х {{orderLine.Amount | currency:orderLine.Amount.CurrencyCode}}</span>
                    </p>
                </div>
            </div>
        </div>-->
    <div ng-repeat="orderLine in order.Lines" drag-to-dismiss="removeOrderLine(orderLine)" class="list-group-item">
        <div class="row">
            <div class="col-xs-12">
                <img width="40" height="40" src="https://s3-media3.fl.yelpcdn.com/bphoto/dHOzMpEeCsqPkuibvJwtkg/o.jpg" alt="{{orderLine.Item.Name}}">
                <strong>{{orderLine.Item.Name}}</strong>
                <div class="pull-right">
                    <a class="label label-default">{{orderLine.Qty}} х {{orderLine.Amount | currency:orderLine.Amount.CurrencyCode}}</a>
                </div>
            </div>
            <div class="col-xs-4">
                <h2>
                    <a ng-class="{'disabled-control':!product.decControlEnabled, 'control':product.decControlEnabled}"
                       ng-disabled="!product.decControlEnabled"
                       ng-click="decPosition(product)"
                       ng-show="orderLine.Qty">
                        <i class="fa fa-minus-circle"></i>
                    </a>
                    {{orderLine.Qty}}
                    <a ng-class="{'disabled-control':!product.incControlEnabled, 'control':product.incControlEnabled}"
                       ng-disabled="!product.incControlEnabled"
                       ng-click="incPosition(product)">
                        <i class="fa fa-plus-circle"></i>
                    </a>
                </h2>
            </div>
        </div>
    </div>

    <div class="list-group-item">
        <p>
            <span class="pull-left">Total</span>
            <span class="label label-primary pull-right">{{order.Amount | currency}}</span>
        </p>
    </div>
    <div class="list-group-item">
        <p>
            <span class="pull-left">Date</span>
            <span class="pull-right">{{order.Date|date:'dd.MM.yyyy HH:mm'}}</span>
        </p>
    </div>
    <div class="list-group-item">
        <p>
            <span class="pull-left">Status</span>
            <span class="pull-right">{{order.StatusCode}}</span>
        </p>
    </div>
    <div class="thumbnail list-group-item">
        <img ng-src="{{ order.Id && 'https://chart.googleapis.com/chart?cht=qr&chs=255x255&chl=' + order.Id || '' }}" alt="{{order.Id}}" />
    </div>
    <a class="btn btn-block btn-lg btn-primary scrollable-footer" ng-click="confirm()" ng-show="order.StatusCode==='DRAFT'">
        <i class="fa fa-shopping-cart"></i>
        Confirm
    </a>
</div>
