<div class="scrollable-content" ui-scroll-bottom='bottomReached()'>
    <div class="list-group">
        <div class="list-group-item" ng-repeat="product in basket track by $index">
            <img width="40" height="40" src="http://icons.iconarchive.com/icons/iloveicons.ru/so-sweet/128/tart-icon.png" class="img-circle">
            {{product.Name}}
            <div class="pull-right">
                <a
                   ng-class="{'disabled-control':!product.decControlEnabled, 'control':product.decControlEnabled}"
                   ng-click="decPosition(product)"
                   ng-show="product.orderLine.Amount">
                    <i class="fa fa-minus"></i>
                </a>
                <span style="margin: 20px">{{product.orderLine.Amount}}</span>
                <a
                   ng-class="{'disabled-control':!product.incControlEnabled, 'control':product.incControlEnabled}"
                   ng-click="incPosition(product)">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    <a class="btn btn-block btn-lg btn-primary scrollable-footer" href="#order/{{order.Id}}" ng-show="basket.pickedCount">
        <i class="fa fa-shopping-cart"></i>
        Order
    </a>
</div>