<div ng-if="basket.products.length">
    <div class="thumbnail" ng-repeat="product in basket.products track by $index">
        <img src="{{product.Links[0].Uri}}" alt="{{product.Name}}">
        <div class="caption">
            <p>
                <span class="pull-left">{{product.Name}}</span>
                <span class="label label-default pull-right">{{product.Price.Price | currency:product.Price.CurrencyCode}}</span>
            </p>
            <br />
            <p>
                <span class="pull-right">
                    <a ng-class="{'disabled-control':!product.decControlEnabled, 'control':product.decControlEnabled}"
                       ng-disabled="!product.decControlEnabled"
                       ng-click="decPosition(product)"
                       ng-show="product.orderLine.Qty">
                        <i class="fa fa-minus-circle"></i>
                    </a>
                    {{product.orderLine.Qty}}
                    <a ng-class="{'disabled-control':!product.incControlEnabled, 'control':product.incControlEnabled}"
                       ng-disabled="!product.incControlEnabled"
                       ng-click="incPosition(product)">
                        <i class="fa fa-plus-circle"></i>
                    </a>
                </span>
            </p>
        </div>
    </div>
</div>
